.navbar{
    background-color: rgb(255, 196, 0);
    height: 40px;
    padding-top: 20px;
    box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-webkit-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-moz-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
}

.nn{
    background-color: white;
    margin: 5px;
    border: none;
    border-radius: 7px;
    padding: 10px;
    color: black;
    text-decoration: none;
}