.question-card{
    margin-top: 200px;
    max-width: 900px;
    margin-left: 300px;
    background-color: rgb(48, 196, 255);
    color:white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-webkit-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-moz-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
}

.option-list{
    display:block;
    justify-content:center;
}

button{
    min-width: 400px;
    margin: 10px;
    height: 50px;
    background-color: white;
    color: rgb(255, 149, 0);
    border:none;
    border-radius: 7px;
}

button:hover{
    background-color: rgb(255, 149, 0);
    color: white;
    cursor:pointer;
}


h2{
    text-align: center;
}

body {
  background-image: url("C:\Users\HP Pavilion\quiz-project\react-quiz\public\rainbow.png");
  background-repeat: repeat;      
  background-size: 500px;  
  background-position: center;
  background-attachment: fixed;         
}

.option-button-correct{
    color: rgb(13, 179, 13);
}

.option-button-wrong{
    color: rgb(216, 28, 28);
}
