.quiz-button{
    min-width: 400px;
    margin: 10px;
    height: 50px;
    background-color: rgb(255, 149, 0);
    color: white;
    border:none;
    border-radius: 7px;
    margin-left: 400px;
    box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-webkit-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-moz-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
}


.quiz-button:hover{
    background-color: white;
    color: rgb(255, 149, 0);
}

.search-input{
    margin-left: 480px;
}

.no-results{
    color: rgb(255, 149, 0);
    max-width: 400px;
    background-color: white;
    font-size:larger;
    padding: 5px;
    margin: 10px;
    text-align:center;
}

.favorite-button {
  margin-left: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
  max-width: 30px;
}


.favorite-button.favorited {
  color: red;
}


.favorite-button.not-favorited {
  color: gray;
}

.details-button{
    border:none;
    width: 100px;
    height: 50px;
    padding: 5px;
    border-radius: 7px;
    margin: 5px;
    color: white;
    background-color: rgb(255, 149, 0); 
    box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-webkit-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-moz-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
}

.details-button:hover{
    background-color: orange;
}