.review{
    color: rgb(255, 196, 0);
    max-width: 800px;
    margin-left: 300px;
    padding: 10px;
    
}

body {
  background-image: url("C:\Users\HP Pavilion\react-quiz\public\rainbow.png");
  background-repeat: repeat;      
  background-size: 500px;  
  background-position: center;         
}

.question-block{
    background-color: rgb(48, 196, 255);
    border-radius: 7px;
    padding: 10px;
    color: white;
    margin: 10px;
    box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-webkit-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-moz-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
}

.answer{
    padding: 5px;
    background-color: white;
    color: rgb(48, 196, 255);
    border-radius: 7px;
    width: 800px;
}

input{
    margin-left: 10px;
    width: 500px;
    height: 40px;
    border-radius: 7px;
    border: 3px, solid, rgb(255, 196, 0);
    box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-webkit-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-moz-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
}

::placeholder{
    color: rgb(255, 196, 0);
    padding: 10px;
}

ul{
    list-style: none;
}
li{
    padding: 5px;
}

.result{
    background-color:white;
    padding:10px;
    border-radius:7px;
    margin: 10px;
    box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-webkit-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-moz-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
}

.back{
    box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-webkit-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
-moz-box-shadow: 6px 7px 5px 0px rgba(88,81,81,1);
}